<!DOCTYPE html>
<html lang="en">
<head>   
  <title>{{ subject }}</title>  
</head>
<body>
    <div id="f72h_author">
    Beste, Cher {{ fname }} {{ lname }}
    </div>
    <div id="f72h_content">
      <p>
        Ceci est un mail automatique généré par openjustice.be<br>
        Dit is een automatische e-mail gegenereerd door openjustice.be 
      </p>
      <hr />
      <p>
      Nous confirmons la création de votre compte sur openjustice.be<br>
      </p>
      <p>
      We bevestigen het aanmaken van uw account op openjustice.be<br>
      </p>
    </div>     
    <hr />
    <div id="f72h_content">
      asbl - vzw OpenJustice.be<br>
      contact: <a href="malto:team@openjustice.be">team@openjustice.be</a><br>
      website: <a href="https://openjustice.be">https://openjustice.be</a>
    </div>
</body>
</html>
